body {
    text-align: center;
}

canvas {
    margin-top: -40px;
}

.score-panel {
    width: 500px;
    margin: 0 auto;
    font-size: 32px;
    margin-top: 20px;
}

.score {
    float: left;
}

.timer {
    float: right;
}


/*
* Customize the sweetalert modal
*/
.swal-text {
    font-size: 24px;
}

.swal-modal {
  background-color: rgb(63,255,106);
}

.swal-overlay {
    background-color: rgba(0,0,50,.5);
}

.swal-button {
    background-color: red;
}
